.container{
    text-align: center;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px
}

/*This might need to be edited later for orignality reason*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: auto;
}
.carousel {
    border: solid #37c4dd;
}
#carouselButton{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.carousel-indicators {
    position: absolute;
    top: 0;
}

.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: auto;
}
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: auto;
}




/*.sit-footer and .jumbotron need to be edited*/
.site-footer {
    background-image: linear-gradient(#CEC8FF, rgb(88, 194, 236));
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #CEC8FF, rgb(88, 194, 236), #ac5f92);
    color: rgb(56, 53, 53);
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.nav-tabs{
    border-left: 2px solid black;
    border-right:2px solid
}